.back-button {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  background-color: #f1f1f1;
  color: black;
  border-radius: 50%;
}

.back-button:hover {
  background-color: #ddd;
  color: black;
}

.position-absolute {
  width: auto;
  position: absolute;
  z-index: 1000;
}
