<div class="position-fixed-top-left">
  <p class="pointer back-button" (click)="goBack()">&#8249;</p>
</div>

<div class="container">
  <p class="description">Click column to hide / show it</p>

  <table>
    <tr>
      <th>{{ data.frontTitle }}</th>
      <th>{{ data.backTitle }}</th>
    </tr>
    <tr style="height: 45px" class="pointer" *ngFor="let card of data.cards">
      <td (click)="toggleColumn('front')">{{ showFront ? card.front : ''}}</td>
      <td (click)="toggleColumn('back')">{{ showBack ? card.back : '' }}</td>
    </tr>
  </table>
</div>
