/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body { font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  overflow-x: hidden;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.display-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-justify-center {
  justify-content: center;
}

.flex-align-center {
  align-items: center;
}

.flex-gap {
  gap: 16px;
}

.text-center {
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.description {
  color: #555555;
  font-size: 0.8em;
}
